* {
    font-family: 'Roboto', sans-serif;
}


.topper {
    background-color: #1F2937;
}

.header {
    height: 80px;
    width: auto;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.linklist {
    display: flex;
    margin-top: 30px;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 1000;
}

.topbody {
    height: 400px;
    width: auto;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.toptext {
    width: 40%;
    height: 80%;
    margin-left: 7.5%;
}

.placeholder {
    width: 40%;
    height: 70%;
    background-color: rgb(146, 143, 143);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 7.5%;
}

.toptitle {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 2px;
}

.topdesc {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
}

.placeholdertext {
    color: white;
}

.imagearray {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    flex: 1;
}

.imageone {
    height: 150px;
    width: 150px;
    object-fit: fill;
}

.imagetwo {
    height: 150px;
    width: 150px;
    object-fit: fill;
}

.imagethree {
    height: 150px;
    width: 150px;
    object-fit: fill;
}

.imagefour {
    height: 150px;
    width: 150px;
    object-fit: fill;
}

.textone {
    width: 150px;
}

.texttwo {
    width: 150px;
}

.textthree {
    width: 150px;
}

.textfour {
    width: 150px;
}

.textarray {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.title {
    text-align: center;
    font-weight: bold;
    margin: 40px;
}

.middleone {
    height: 360px;
    width: auto;
}

.middletwo {
    height: 360px;
    width: auto;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
}

.quoted {
    color: black;
    font-weight: 1000;
    margin-left: 70%;
    font-size: 24px;
}

.bottom {
    height: 300px;
    width: auto;
}

.bottombanner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 25px;
    padding-bottom: 40px;
    border-radius: 5px;
}

.bottomtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E5E7EB;
    margin-left: 10%
}

#button1 {
    border: 0;
}
#button2 {
    border: 2px solid #E5E7EB;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    margin-right: 10%;
    margin-top: 2%;
}

.footer {
    background-color:#1F2937;
    height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footertext {
    color:#E5E7EB;
}

body {
    margin: 0;
}